<html>
<head>
<title>CloudCalc by Edwin Cruz</title>
<!-- Search Engine Meta Tags -->
<meta itemprop="name" content="Cloud Calc" />
<meta itemprop="image" content="https://s.gravatar.com/avatar/2634080fc3ae93414e8f89f50cf9f460?s=80" />
<meta name="description" content="Cloud Calc Sample Application" />
<!-- Authoring Tags -->
<meta name="author" content="Edwin M. Cruz" />
<meta name="contact" content="ecruz165@yahoo.com" />

<!-- Favicon Meta Tags -->
<link rel="icon" sizes="192x192" href="https://s.gravatar.com/avatar/2634080fc3ae93414e8f89f50cf9f460?s=80" />
<link rel="shortcut icon" href="https://s.gravatar.com/avatar/2634080fc3ae93414e8f89f50cf9f460?s=80" />

<!-- Technical Formatting Meta Tags -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="content-language" content="en">
<meta http-equiv="content-language" content="en-gb">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<!--  Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<!--  Style Sheets -->
<link rel="stylesheet" href="/3rdparty/mcw-0.44.1/material-components-web.min.css" />

<style>

.panels {
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}
.mdc-button {
width:100%;
}
</style>


<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script src="https://unpkg.com/redux@latest/dist/redux.min.js"></script>
</head>
<body  class="mdc-typography" style="background-color:rgb(153,153,153); background-image: linear-gradient(135deg, rgb(127,127,127), rgb(153,153,153),rgb(153,153,153),rgb(127,127,127));" >

<img src="/images/logo.png"/>

<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-4-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" >
   		
   		
<div class="mdc-layout-grid__inner" >
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-4-phone
   					mdc-layout-grid__cell--span-8-tablet
   					mdc-layout-grid__cell--span-12-desktop" style="background-color: white;">
   					
   	<p id="expressionDisplay" style="min-height: 19px;padding-left: 12px;">$$ $$</p>
	</div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				 
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='C', id='clear')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-2-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='{}', id='group')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='/', id='divide')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='7', id='seven')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='8', id='eight')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='9', id='nine')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='X', id='multiply')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='4', id='four')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='5', id='five')"></th:block></div> 
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='6', id='six')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='-', id='subtract')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='1', id='one')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='2', id='two')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='3', id='three')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='+', id='add')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-2-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='0', id='zero')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='.', id='decimal')"></th:block></div>
   	   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='=', id='solve')"></th:block></div>
    	  	
</div>
   		
   		
   		
   		
   		
   		
   		</div>
   		
   		
   		
   		
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-4-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" >


<div id="dynamic-tab-bar" class="mdc-tab-bar" role="tablist" style="width:100%;">
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area">
      <div class="mdc-tab-scroller__scroll-content">
        
        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
          <span class="mdc-tab__content">
            <span class="material-icons">label</span>
          </span>
          <span class="mdc-tab-indicator mdc-tab-indicator--active">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
          <span class="mdc-tab__ripple"></span>
        </button>
        
        <button class="mdc-tab " role="tab" tabindex="1">
          <span class="mdc-tab__content">
          <span class="material-icons">history</span>
          </span>
          <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
          <span class="mdc-tab__ripple"></span>
        </button>
        
        <button class="mdc-tab " role="tab" tabindex="1">
          <span class="mdc-tab__content">
            <span class="material-icons">comment</span>
          </span>
          <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
          <span class="mdc-tab__ripple"></span>
        </button>

      </div>
    </div>
  </div>
</div>


<section>
  <div class="panels">

    <div id="panel-1" role="tabpanel" aria-hidden="false" class="panel active up-cell" >
		<h1 class="mdc-typography--headline5">Saved Expressions</h1>
   </div>

   <div id="panel-2" role="tabpanel" aria-hidden="true" class="panel up-cell" >
		<h1 class="mdc-typography--headline5">History</h1>
	</div>

   	<div id="panel-3" role="tabpanel" aria-hidden="true" class="panel up-cell" >
		<h1 class="mdc-typography--headline5">Notes</h1>
	</div>

  </div>
</section>
    		
   		</div>
   	</div>
  
</div>

<script type="module" src="/3rdparty/fetch-3.0.0/fetch.min.js"></script>
<script src="/3rdparty/handlebars-4.1.1/handlebars.min.js"></script>
<script src="/3rdparty/mcw-0.44.1/material-components-web.min.js"></script>
<script type="text/javascript">mdc.autoInit();</script>
<script type="text/javascript">
      (function() {
        setTimeout(function () {
        	const dynamicTabBar = new mdc.tabBar.MDCTabBar(document.querySelector('#dynamic-tab-bar'));
           var panels = document.querySelector('.panels');
          dynamicTabBar.preventDefaultOnClick = true;

          function updatePanel(index) {
        	  var activePanel = panels.querySelector('.panel.active');
        	  if (activePanel) {
        	    activePanel.classList.remove('active');
        	  }
        	  var newActivePanel = panels.querySelector('.panel:nth-child(' + (index ) + ')');
        	  if (newActivePanel) {
        	    newActivePanel.classList.add('active');
        	  }
        	}

          dynamicTabBar.listen('MDCTabBar:activated', function (t) {
    
        		var dynamicTabBar = t.detail;
        		var nthChildIndex = dynamicTabBar.index+1;
        		updatePanel(nthChildIndex);
        	});
          
     
        },200)
      })();
</script>
<script type="text/javascript">

const expressionDisplayEl = document.getElementById('expressionDisplay');

function calculator( state='' ,action) {

    switch (action.type) {
      case 'SHOWRESULTS':
		state = action.result;
    	 return state;
      case 'ZERO':
        return state+'0';
      case 'ONE':
        return state+'1';
      case 'TWO':
          return state+'2';
      case 'THREE':
          return state+'3';
      case 'FOUR':
          return state+'4';
      case 'FIVE':
          return state+'5';
      case 'SIX':
          return state+'6';
      case 'SEVEN':
          return state+'7';
      case 'EIGHT':
          return state+'8';
      case 'NINE':
          return state+'9';
      case 'DECIMAL':
          return state+'.';
      case 'CLEAR':
    	  return " ";
      case 'GROUP':
    	  return '('+state+')';  
      case 'SOLVE':
    	  state = solve(state);
    	  return state;  
      case 'MULTIPLY':
    	  return state+'*';  
      case 'ADD':
    	  return state+'+';  
      case 'SUBTRACT':
    	  return state+'-';  
      case 'DIVIDE':
    	  return state+'/';  
      default:
    	  return state;
    }
}

function solve(state){
	fetch('/expressions/solve/', {
		method: 'post',
	    body: JSON.stringify({expression: state}),
		headers:{'Content-Type': 'application/json'}}
	).then(function(response) {
		    return response.json();
		  }).then(function(data) {
			  store.dispatch({ type: 'SHOWRESULTS', result: data.result });
			  console.log('Request success: ', data.result);
		  });
	return state;
}

const store = Redux.createStore(calculator);

function render() {
	expressionDisplayEl.innerHTML = store.getState();
}

render();
store.subscribe(render);

document.getElementById('zero'		).addEventListener('click', function () { store.dispatch({ type: 'ZERO' 	}) });
document.getElementById('one'		).addEventListener('click', function () { store.dispatch({ type: 'ONE' 		}) });
document.getElementById('two'		).addEventListener('click', function () { store.dispatch({ type: 'TWO' 		}) });
document.getElementById('three'		).addEventListener('click', function () { store.dispatch({ type: 'THREE'	}) });
document.getElementById('four'		).addEventListener('click', function () { store.dispatch({ type: 'FOUR' 	}) });
document.getElementById('five'		).addEventListener('click', function () { store.dispatch({ type: 'FIVE' 	}) });
document.getElementById('six'		).addEventListener('click', function () { store.dispatch({ type: 'SIX' 		}) });
document.getElementById('seven'		).addEventListener('click', function () { store.dispatch({ type: 'SEVEN'	}) });
document.getElementById('eight'		).addEventListener('click', function () { store.dispatch({ type: 'EIGHT'	}) });
document.getElementById('nine'		).addEventListener('click', function () { store.dispatch({ type: 'NINE'		}) });
document.getElementById('decimal'	).addEventListener('click', function () { store.dispatch({ type: 'DECIMAL'	}) });
document.getElementById('clear'		).addEventListener('click', function () { store.dispatch({ type: 'CLEAR' 	}) });
document.getElementById('group'		).addEventListener('click', function () { store.dispatch({ type: 'GROUP' 	}) });
document.getElementById('add'		).addEventListener('click', function () { store.dispatch({ type: 'ADD'		}) });
document.getElementById('subtract'	).addEventListener('click', function () { store.dispatch({ type: 'SUBTRACT'	}) });
document.getElementById('multiply'	).addEventListener('click', function () { store.dispatch({ type: 'MULTIPLY'	}) });
document.getElementById('divide'	).addEventListener('click', function () { store.dispatch({ type: 'DIVIDE'	}) });
document.getElementById('solve'		).addEventListener('click', function () { store.dispatch({ type: 'SOLVE'	}) });

</script>
</body>
</html>