<html>
<head>
<title>CloudCalc by Edwin Cruz</title>
<!-- Search Engine Meta Tags -->
<meta itemprop="name" content="Cloud Calc" />
<meta itemprop="image" content="https://s.gravatar.com/avatar/2634080fc3ae93414e8f89f50cf9f460?s=80" />
<meta name="description" content="Cloud Calc Sample Application" />
<!-- Authoring Tags -->
<meta name="author" content="Edwin M. Cruz" />
<meta name="contact" content="ecruz165@yahoo.com" />

<!-- Favicon Meta Tags -->
<link rel="icon" sizes="192x192" href="https://s.gravatar.com/avatar/2634080fc3ae93414e8f89f50cf9f460?s=80" />
<link rel="shortcut icon" href="https://s.gravatar.com/avatar/2634080fc3ae93414e8f89f50cf9f460?s=80" />

<!-- Technical Formatting Meta Tags -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="content-language" content="en">
<meta http-equiv="content-language" content="en-gb">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<!--  Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<!--  Style Sheets -->
<link rel="stylesheet" href="/3rdparty/mcw-0.44.1/material-components-web.min.css" />

<style>

.panels {
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.panel {
  display: none;
  color: #fff;
}

.panel.active {
  display: block;
}
.mdc-button {
width:100%;
}

.mdc-tab-bar{
  color: white !important;
}

.mdc-list--avatar-list .mdc-list-item__graphic{
color: white;
}
.mdc-list-item__primary-text {
color:white;}
.mdc-list-item__secondary-text{
color: #fff;
}
.mdc-tab .mdc-tab__text-label{
color: white;
}.mdc-tab .mdc-tab__icon{
color: white;
}
.mdc-text-field{
width: 100%;
}

.expressionInputValid {
	background-color: white;
}
.expressionInputError {
	background-color: red;
}
</style>


<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script src="https://unpkg.com/redux@latest/dist/redux.min.js"></script>
</head>
<body  class="mdc-typography" style="background-color:rgb(153,153,153); background-image: linear-gradient(135deg, rgb(111, 9, 253), rgb(111, 9, 253),rgb(111, 9, 253),rgb(111, 9, 253));" >

<img src="/images/logo.png"/>

<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-4-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" >
   		
   		
<div class="mdc-layout-grid__inner" >
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-4-phone
   					mdc-layout-grid__cell--span-8-tablet
   					mdc-layout-grid__cell--span-12-desktop expressionInputValid" id ="expressionDisplayContainer" >
   					
   	<p id="expressionDisplay" style="min-height: 19px;padding-left: 12px;">$$ $$</p>
	</div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				 
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='C', id='clear')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-2-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='{}', id='group')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='/', id='divide')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='7', id='seven')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='8', id='eight')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='9', id='nine')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='X', id='multiply')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='4', id='four')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='5', id='five')"></th:block></div> 
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='6', id='six')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='-', id='subtract')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='1', id='one')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='2', id='two')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='3', id='three')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='+', id='add')"></th:block></div>
	<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-2-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='0', id='zero')"></th:block></div>
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='.', id='decimal')"></th:block></div>
   	   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-1-phone
   					mdc-layout-grid__cell--span-2-tablet
   					mdc-layout-grid__cell--span-3-desktop" >				
   	<th:block	th:replace="/fragments/mdc-form-objects.html :: button(displayValue='=', id='solve')"></th:block></div>
    	  	
</div>
   		
   		</div>
   		
   		
   		
   		
   		<div class="mdc-layout-grid__cell 
   					mdc-layout-grid__cell--span-4-phone
   					mdc-layout-grid__cell--span-4-tablet
   					mdc-layout-grid__cell--span-6-desktop" style="background-color: var(--mdc-theme-primary);" >


<div id="dynamic-tab-bar" class="mdc-tab-bar" role="tablist" style="width:100%;">
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area">
      <div class="mdc-tab-scroller__scroll-content">
        
        <button id="history" class="mdc-tab mdc-tab--active mdc-tab--stacked" role="tab" aria-selected="true" tabindex="0" >
          <span class="mdc-tab__content" style="color:white;">
            <span class="mdc-tab__icon material-icons">history</span>
            <span class="mdc-tab__text-label">History</span>
          </span>
          <span class="mdc-tab-indicator mdc-tab-indicator--active">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
          <span class="mdc-tab__ripple"></span>
        </button>
        
        <button id="labels" class="mdc-tab mdc-tab--stacked" role="tab" tabindex="1">
          <span class="mdc-tab__content">        
            <span class="mdc-tab__icon material-icons">label</span>
            <span class="mdc-tab__text-label">Labels</span>
          </span>
          <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
          <span class="mdc-tab__ripple"></span>
        </button>
        
        <button id="comments" class="mdc-tab mdc-tab--stacked" role="tab" tabindex="1">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons">comment</span>
            <span class="mdc-tab__text-label">Notes</span>
          </span>
          <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
          <span class="mdc-tab__ripple"></span>
        </button>

      </div>
    </div>
  </div>
</div>


<section>
  <div class="panels">

    <div id="panel-1" role="tabpanel" aria-hidden="false" class="panel active" >

		<div id="history-list"></div>
   </div>

   <div id="panel-2" role="tabpanel" aria-hidden="true" class="panel" >

		<div id="labels-list"></div>
	</div>

   	<div id="panel-3" role="tabpanel" aria-hidden="true" class="panel" >

		<div id="notes-list"></div>		
	</div>

  </div>
</section>
    		
   		</div>
   		
   		

   	</div>
  
</div>




<div class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <h2 class="mdc-dialog__title" id="my-dialog-title">Enter label for expression</h2>
      <div class="mdc-dialog__content" id="my-dialog-content">

        <form id="form" action="#">
          <div class="mdc-text-field">
            <input type="text" id="expressionName" name="expressionName" class="mdc-text-field__input" required="required"/>            
            <input type="hidden" id="expressionId" name="expressionId" value="1"/>
            
            <label class="mdc-floating-label" for="my-text-field">Name</label>
            <div class="mdc-line-ripple"></div>
          </div>
        </form>
              <span id="expressionValue">$$ 4+ 5/5 $$</span>
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">Cancel</button>
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">Save</button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
   		
<script type="text/javascript">
var dialog = null;
	window.addEventListener('DOMContentLoaded', function() {
		dialog = new mdc.dialog.MDCDialog(document.querySelector('.mdc-dialog'));
		mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
		dialog.listen('MDCDialog:closed', function(event) {
		  if (event.detail.action === 'close') {
		    return;
		  }
		  store.dispatch({ type: 'CREATE_LABEL_FOR_EXPRESSION', id:form.elements.expressionId.value, label: form.elements.expressionName.value })
		});
	});
</script>
<script type="module" src="/3rdparty/fetch-3.0.0/fetch.min.js"></script>
<script src="/3rdparty/handlebars-4.1.1/handlebars.min.js"></script>
<script src="/3rdparty/mcw-0.44.1/material-components-web.min.js"></script>
<script type="text/javascript">mdc.autoInit();</script>
<script type="text/javascript">
      (function() {
        setTimeout(function () {
        	const dynamicTabBar = new mdc.tabBar.MDCTabBar(document.querySelector('#dynamic-tab-bar'));
           var panels = document.querySelector('.panels');
          dynamicTabBar.preventDefaultOnClick = true;

          function updatePanel(index) {
        	  var activePanel = panels.querySelector('.panel.active');
        	  if (activePanel) {
        	    activePanel.classList.remove('active');
        	  }
        	  var newActivePanel = panels.querySelector('.panel:nth-child(' + (index ) + ')');
        	  if (newActivePanel) {
        	    newActivePanel.classList.add('active');
        	  }
        	}

          dynamicTabBar.listen('MDCTabBar:activated', function (t) {
    
        		var dynamicTabBar = t.detail;
        		var nthChildIndex = dynamicTabBar.index+1;
        		updatePanel(nthChildIndex);
        	});
          
     
        },200)
      })();
</script>
<script type="text/javascript">

const expressionDisplayEl = document.getElementById('expressionDisplay');

function calculator( state='' ,action) {
	console.log('Calculator action: '+ action.type +' expression: '+ state +' result: '+ action.result);
    switch (action.type) {
    case 'ADD_LABLED_ITEM':;
		if (isValidInput(state, action.value)){
		  	state = state+''+action.value;
			return state;
	  	}
		showErrorIndicator();
		return state;
    case 'DISPLAY_RESULTS':
		state = action.result;
		renderHistory();
    	 return state;
      case 'VIEW_HISTORY':
  		renderHistory();
      	return state;
      case 'VIEW_LABELS':
    	renderLabels();
      	return state;
      case 'VIEW_COMMENTS':
      	 return state;
      case 'LOAD_EXPRESSION_FROM_HISTORY':
  		state = action.expression;
  	    return state;
      case 'ENTER_DIGIT':
        return state+''+action.value;
      case 'CLEAR_EXPRESSION':
        	state = '';
    	  return state;    	  
      case 'GROUP_EXPRESSION':
    	  return '('+state+')';
      case 'SUBMIT_EXPRESSION':
    	  if (isValidExpression( state)){
	    	  state = solve(state);
	    	  return state;
    	  }
    	  showErrorIndicator();
    	  return state;  
      case 'ENTER_DECIMAL':
          return state+'.';
      case 'ENTER_OPERATOR':
    	  if (isValidInput(state, action.value)){
    		  state = state+''+action.value;
    	  	return state;
    	  }
    	  showErrorIndicator();
    	  return state;
      case 'OPEN_SAVE_EXPRESSION_DIALOG':
    	  openExpressionDialog( action.id, action.expression);
    	  return state;
      case 'CREATE_LABEL_FOR_EXPRESSION':
    	  saveExpressionLabel( action.id, action.label);
      default:
    	  return state;
    }
}

function isValidExpression(current){
	if (current.length<3){
		return false;
	} else if (isOperator(current.substring(current.length-1, current.length))){
		return false;
	}
	return true;
}

function isValidInput(current, input){
	if (isNaN(input) ){
		if (current.length==0 ){
			if (isOperator(input) && (input!='-')){
				return false;
			}
		} else  {
			 if ( isOperator(input) && isOperator(current.substring(current.length-1, current.length))) {
					return false;
				}  else if (!isOperator(input) && !isOperator(current.substring(current.length-1, current.length)) ){
					return false;
				}
		}
	}
	return true;
}

function isOperator(input){
	regexConst = /\/|\+|\-|\*|\=/g;
	if ( regexConst.test(input)){
		return true;}
	else {
		return false;}
}

function showErrorIndicator(){
	var expressionEl = document.getElementById('expressionDisplayContainer');
	expressionEl.classList.add("expressionInputError");
	setTimeout( function() {
			expressionEl.classList.remove("expressionInputError")
			expressionEl.classList.add("expressionInputValid")
		}, 200
	);
}

function openExpressionDialog(id, expression){
	var idEL    = document.getElementById('expressionId');
	var expressionEl = document.getElementById('expressionValue');
	idEL.value=id;
	expressionEl.innerHTML = expression;	
	dialog.open();
}

function saveExpressionLabel(id, label){
	fetch('/api/expressions/update/', {
		method: 'post',
	    body: JSON.stringify({'id': id, 'label': label}),
		headers:{'Content-Type': 'application/json'}}
	).then(function(response) {
		    return response.json();
		  }).then(function(data) {
			  renderHistory();
		  });
	return id;
}


function solve(state){
	fetch('/api/expressions/solve/', {
		method: 'post',
	    body: JSON.stringify({expression: state}),
		headers:{'Content-Type': 'application/json'}}
	).then(function(response) {
		    return response.json();
		  }).then(function(data) {
			  store.dispatch({ type: 'DISPLAY_RESULTS', result: data.result });
		  });
	return state;
}

const store = Redux.createStore(calculator);

function render() {
	expressionDisplayEl.innerHTML = store.getState();
}

render();
store.subscribe(render);

document.getElementById('zero'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 0 }) });
document.getElementById('one'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 1 }) });
document.getElementById('two'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 2 }) });
document.getElementById('three'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 3 }) });
document.getElementById('four'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 4 }) });
document.getElementById('five'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 5 }) });
document.getElementById('six'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 6 }) });
document.getElementById('seven'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 7 }) });
document.getElementById('eight'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 8 }) });
document.getElementById('nine'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DIGIT', value: 9 }) });
document.getElementById('decimal'	).addEventListener('click', function () { store.dispatch({ type: 'ENTER_DECIMAL'}) });
document.getElementById('clear'		).addEventListener('click', function () { store.dispatch({ type: 'CLEAR_EXPRESSION'}) });
document.getElementById('group'		).addEventListener('click', function () { store.dispatch({ type: 'GROUP_EXPRESSION' 	}) });
document.getElementById('add'		).addEventListener('click', function () { store.dispatch({ type: 'ENTER_OPERATOR', value: '+'}) });
document.getElementById('subtract'	).addEventListener('click', function () { store.dispatch({ type: 'ENTER_OPERATOR', value: '-'}) });
document.getElementById('multiply'	).addEventListener('click', function () { store.dispatch({ type: 'ENTER_OPERATOR', value: '*'}) });
document.getElementById('divide'	).addEventListener('click', function () { store.dispatch({ type: 'ENTER_OPERATOR', value: '/'}) });
document.getElementById('solve'		).addEventListener('click', function () { store.dispatch({ type: 'SUBMIT_EXPRESSION', value: '='	}) });
document.getElementById('history'	).addEventListener('click', function () { store.dispatch({ type: 'VIEW_HISTORY'	}) });
document.getElementById('labels'	).addEventListener('click', function () { store.dispatch({ type: 'VIEW_LABELS'	}) });
document.getElementById('comments'	).addEventListener('click', function () { store.dispatch({ type: 'VIEW_COMMENTS'}) });

</script>

<template id="history-list-template">
<ul class="mdc-list  mdc-list--two-line mdc-list--avatar-list">
{{#expresssions}}
	{{#if labeled}}	
<li class="history-item mdc-list-item mdc-ripple-upgraded" tabindex="0" 	id="{{this.id}}" title="{{this.label}}" style="--mdc-ripple-fg-size:237px; --mdc-ripple-fg-scale:1.74047; --mdc-ripple-fg-translate-start:-74.332px, -81.5586px; --mdc-ripple-fg-translate-end:79.5px, -82.5px;">
	<span class="history-item-update  mdc-list-item__graphic material-icons"id="{{this.id}}-update" title="{{this.label}}" aria-hidden="true">label</span>
	<span class="history-item-select  mdc-list-item__text"					id="{{this.id}}-select" title="{{this.label}}"><span class="mdc-list-item__primary-text">{{this.label}} ( {{this.expression}}={{this.result}} )</span>
	<span class="                     mdc-list-item__secondary-text"		>{{ this.created }}</span></span>
</li>
	{{else}}
<li class="history-item mdc-list-item mdc-ripple-upgraded" tabindex="0"  style="--mdc-ripple-fg-size:237px; --mdc-ripple-fg-scale:1.74047; --mdc-ripple-fg-translate-start:-74.332px, -81.5586px; --mdc-ripple-fg-translate-end:79.5px, -82.5px;">
	<span class="history-item-save   mdc-list-item__graphic material-icons" id="{{this.id}}-save" title="{{this.expression}}" aria-hidden="true">save_alt</span>
	<span class="history-item-select mdc-list-item__text" 					id="{{this.id}}-select" title="{{this.expression}}"><span class="mdc-list-item__primary-text">{{this.expression}}={{this.result}}</span>
	<span class="                    mdc-list-item__secondary-text"			>{{ this.created }}</span></span>
</li>
	{{/if}}
{{/expresssions}}
</ul>
</template>

<template id="labels-list-template">
<ul class="mdc-list  mdc-list--two-line mdc-list--avatar-list">
{{#expresssions}}
<li class="labeled-item mdc-list-item mdc-ripple-upgraded" tabindex="0" 	id="{{this.id}}" title="{{this.label}}" style="--mdc-ripple-fg-size:237px; --mdc-ripple-fg-scale:1.74047; --mdc-ripple-fg-translate-start:-74.332px, -81.5586px; --mdc-ripple-fg-translate-end:79.5px, -82.5px;">
	<span class="labeled-item-update  mdc-list-item__graphic material-icons"id="{{this.id}}-update" title="{{this.label}}" aria-hidden="true">label</span>
	<span class="labeled-item-select  mdc-list-item__text" 					id="{{this.id}}-select" title="{{this.label}}" ><span class="mdc-list-item__primary-text">{{this.label}} ( {{this.expression}}={{this.result}} )</span>
	<span class="					  mdc-list-item__secondary-text" 		>{{ this.created }}</span></span>
</li>
{{/expresssions}}
</ul>
</template>

<script type="text/javascript">
function addEventListenersToHistory(){
	var classname = document.getElementsByClassName("history-item-select");
	var myFunction = function() {
	    var idValue = this.getAttribute("id");
	    var expressionValue = this.getAttribute("title");
	    store.dispatch({ type: 'LOAD_EXPRESSION_FROM_HISTORY', id: idValue, expression: expressionValue});
	};
	for (var i = 0; i < classname.length; i++) {
	    classname[i].addEventListener('click', myFunction, false);
	}
}
function addEventListenersToHistorySave(){
	var classname = document.getElementsByClassName("history-item-save");
	var myFunction = function() {
	    var idValue = this.getAttribute("id").split('-');
	    var expressionValue = this.getAttribute("title");
	    store.dispatch({ type: 'OPEN_SAVE_EXPRESSION_DIALOG', id: idValue[0], expression: expressionValue});
	};
	for (var i = 0; i < classname.length; i++) {
	    classname[i].addEventListener('click', myFunction, false);
	}
}

function renderHistory() {
	var historyListTemplate     = document.getElementById('history-list-template').innerHTML;
	var historyListCompiledTemplate       = Handlebars.compile(historyListTemplate);
	var historyList     = document.getElementById('history-list');
	fetch('/api/expressions', { method: 'get'})
		.then(function(response) {	return response.json();})
		.then(function(json) {
			  var    data = {
					  expresssions : json
			        };
			var html = historyListCompiledTemplate(data);
			historyList.innerHTML = html;
			addEventListenersToHistory();
			addEventListenersToHistorySave();
			return json;
		});
}
function addEventListenersToLabels() {
	var classname = document.getElementsByClassName("labeled-item-select");
	var myFunction = function() {
	    var idValue = this.getAttribute("id");
	    var labelValue = this.getAttribute("title");
	    store.dispatch({ type: 'ADD_LABLED_ITEM', id: idValue, value: labelValue});
	};
	for (var i = 0; i < classname.length; i++) {
	    classname[i].addEventListener('click', myFunction, false);
	}
}
function renderLabels() {
	var labelsListTemplate     = document.getElementById('labels-list-template').innerHTML;
	var labelsListCompiledTemplate       = Handlebars.compile(labelsListTemplate);
	var labelsList     = document.getElementById('labels-list');
	fetch('/api/expressions/labled', { method: 'get'})
		.then(function(response) {	return response.json();})
		.then(function(json) {
			  var    data = {
					  expresssions : json
			        };
			var html = labelsListCompiledTemplate(data);
			labelsList.innerHTML = html;
			addEventListenersToLabels();
			return json;
		});
}
renderHistory();
renderLabels();
</script>


</body>
</html>